<div class="row my-4">
  <div *ngIf="pickedbooks.length > 0">
    <div class="" *ngIf="!viewallbooks">
      <h4 style="float:left;">Best Selling Books</h4>
      <button style="float:right;" class="btn btn-link pb-4" (click)="viewallfavoritebooks">View All Best Selling
        Books</button>
      <br />
      <hr>
      <div *ngFor="let book of pickedbooks" class="card" style="width: 16rem;">
        <a [routerLink]="['/product', book.bookId]"><img src="../assets/images/{{book.bookId}}.jpg" class="card-img-top" alt="..." style="max-width: 15.85rem;"></a>
        <div class="card-body">
          <h5 class="card-title my-0">{{book.title}}</h5>
          <p class="card-text my-0">{{book.author}}</p>
          <p><small>{{book.publishDate}}</small></p>
          <a href="#" class="btn btn-danger btn-sm "> {{book.price}} $ Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row my-4">
  <div *ngIf="books.length > 0">
    <div class="" *ngIf="viewallbooks">
      <h4 style="float:left;">All Newly Published Books</h4>
      <button style="float:right;" class="btn btn-link pb-4" (click)="viewallfavoritebooks">View All Best Selling
        Books</button>
      <br />
      <hr>
      <div *ngFor="let book of books" class="card" style="width: 16rem;">
        <a [routerLink]="['/product', book.bookId]"><img src="../assets/images/{{book.bookId}}.jpg" class="card-img-top" alt="..." style="max-width: 15.85rem;"></a>
        <div class="card-body">
          <h5 class="card-title my-0">{{book.title}}</h5>
          <p class="card-text my-0">{{book.author}}</p>
          <p><small>{{book.publishDate}}</small></p>
          <a href="#" class="btn btn-danger btn-sm "> {{book.price}} $ Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
